body {
    margin: 0;
    padding: 0;
    border: none;
    width: min-content;
    height: 500px;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.background {
    margin: 0;
    width: max-content;
    height: 100%;
    /* position: relative; */
}

.main {
    position: absolute;
    width: 4%;
    bottom: 40px;
    left: 0px;
}