body {
    margin: 0;
    padding: 0;
    border: none;
    width: min-content;
    height: 500px;
    position: relative;
    background-color: black;
    overflow-x: hidden;
}

.ombre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Couleur noire semi-transparente */
    display: block;
    z-index: 1;
}

.background {
    margin: 0;
    width: max-content;
    height: 100%;
    /* position: relative; */
}

.main {
    position: absolute;
    width: 8%;
    transition: ease-in;
    bottom: 45px;
    left: 0px;
}

.healthbarre {
    width: 180px;
    height: 10px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 8px;
    margin-left: 60px;
    border-style: solid;
    /* border-radius: 10%; */
    overflow: hidden;
}

.points {
    position: fixed;
    left: 0px;
    top: 40px;
    font-weight: bolder;
    color: white;
}

.point {
    font-size: 160%;
}

.healthbarretitan {
    width: 120px;
    height: 7px;
    background-color: white;
    position: absolute;
    right: 0;
    border-style: solid;
    /* border-radius: 10%; */
    overflow: hidden;
}

.block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("./begin/start.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
}

.block2, .block3, .block4{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
    visibility: hidden;
}
.block2{
    background-image: url("./begin/pause.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.block3{
    background-image: url("./begin/4.trophy.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.block4{
    background-image: url("./begin/gifs-de-game-over-0.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.start {
    font-size: 250%;
    border-radius: 20px;
    padding: 10px;
    font-weight: bolder;
}

.continue {
    font-size: 250%;
    border-radius: 20px;
    padding: 10px;
    font-weight: bolder;
    margin-left: 40px;
    margin-right: 40px;
}

.hp {
    color: white;
    position: fixed;
    font-size: 160%;
    left: 0;
    top: 0;
}

.health {
    height: 100%;
    background-color: chartreuse;
    transition: width 0.3 ease-in-out;
}

.healthtitan {
    height: 100%;
    background-color: red;
    transition: width 0.1 ease-in-out;
}

#timer {
    position: fixed;
    width: 100%;
    top: 0;
}

.time {
    margin-left: 45%;
    width: max-content;
    font-weight: bolder;
    font-size: 180%;
    color: black;
    padding: 10px;
    border-style: groove;
    border-color: white;
}

#heure {
    font-size: 180%;
    color: white;
}